appdirs==1.4.4
appnope==0.1.2
asgiref==3.2.10
attrs==20.2.0
autopep8==1.5.4
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cryptography==3.4.6
decorator==4.4.2
distlib==0.3.1
Django==3.1
django-cors-headers==3.7.0
filelock==3.0.12
Flask==1.1.2
idna==2.10
iniconfig==1.0.1
ipykernel==5.4.0
ipython==7.19.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jupyter-client==6.1.7
jupyter-core==4.7.0
jwt==1.2.0
MarkupSafe==1.1.1
mysqlclient==2.0.3
numpy==1.19.2
packaging==20.4
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.8
ptyprocess==0.6.0
py==1.9.0
pycodestyle==2.6.0
pycparser==2.20
Pygments==2.7.3
PyJWT==2.0.1
pyparsing==2.4.7
pytest==6.1.1
python-dateutil==2.8.1
pytz==2020.1
pyzmq==20.0.0
requests==2.25.1
six==1.15.0
soupsieve==2.1
sqlparse==0.3.1
toml==0.10.1
tornado==6.1
traitlets==5.0.5
urllib3==1.26.3
virtualenv==20.0.31
wcwidth==0.2.5
Werkzeug==1.0.1
